
{% extends 'main/base.html' %}

{% block title %}
Просмотр задач других пользователей
{% endblock %}
{% block knopka %}

<nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% url 'home'%}">Мои задачи</a>
  </nav>
<a class="p-2 text-dark" style="text-decoration: none;"><b>Добро пожаловать, {{ user.username }}!</b></a>
<a class="btn btn-outline-primary" href="{% url 'logout' %}">Выйти</a>


{% endblock %}
{% block content %}
<a href="{% url 'add_task_for_user' %}" class="btn btn-primary">Добавить задачу пользователю</a>
<h2>Задачи других пользователей:</h2>

    {% for task in tasks %}

<div class="alert mt-2 {% if not task.isDo %}alert-danger{% else %}alert-success{% endif %}">
    <h3>{{ task.header }}</h3>
    <h5>Пользователь: {{ task.user.username }}</h5>
    <p>{{ task.dispatcher }}</p>
    {% if task.isDo %}
    <p>Выполнено</p>
    {% else %}
    <p>Не выполнено</p>
    {% endif %}
    <a href="{% url 'edit_task' task.id %}"
       class="btn {% if not task.isDo %}btn-danger{% else %}btn-success{% endif %}">Редактировать</a>
    <form action="{% url 'delete_task' task.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>

</div>
    {% endfor %}

{% endblock %}
